alias bb="bbedit"
alias cat="bat"
alias filebytes="stat -f%z"
alias ip="curl --silent http://checkip.dyndns.org/ | grep --extended-regexp --only-matching '\d+\.\d+\.\d+\.\d+'"
alias mkdir="mkdir -p"
alias ping="prettyping --nolegend"
alias preview="fzf --preview 'bat --color \"always\" {}'"
alias server="python3 -m http.server"
alias top="htop"
alias ulog="vim ~/Library/Logs/Unity/Editor.log"
alias y="open -a Yoink"

# Windows WSL aliases.
if [[ -n "$WSL_DISTRO_NAME" ]]; then
    alias open="cmd.exe /C start"
    alias taskkill="taskkill.exe /F /IM"
fi
