# Automatically upgrade oh-my-zsh.
export DISABLE_UPDATE_PROMPT=true

# Make vim the default editor.
export VISUAL=vim
export EDITOR="$VISUAL"

# Use ripgrep as source for fuzzy finder.
export FZF_DEFAULT_COMMAND="rg --files"
export FZF_CTRL_T_COMMAND="${FZF_DEFAULT_COMMAND}"

# Opt out of Homebrew analytics.
export HOMEBREW_NO_ANALYTICS=1

# Specify default options for ripgrep via config file.
export RIPGREP_CONFIG_PATH=${HOME}/.ripgreprc

# Set up oh-my-zsh.
export ZSH=${HOME}/.oh-my-zsh
export ZSH_CUSTOM=${HOME}/.zsh
export ZSH_DISABLE_COMPFIX=true
export ZSH_THEME='miner'

# Configure tmux if we're using iTerm2.
if [[ -n "$ITERM_SESSION_ID" ]]; then
    export ITERM_ENABLE_SHELL_INTEGRATION_WITH_TMUX=true
    export ZSH_TMUX_ITERM2=true
fi
