[commit]
	gpgsign = true
	verbose = true
[core]
	excludesfile = ~/.gitignore
	pager = delta
[credential]
	helper = osxkeychain
[delta]
	features = decorations
	line-numbers = true
[delta "interactive"]
	keep-plus-minus-markers = false
[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax
[diff]
	algorithm = histogram
	colorMoved = default
	submodule = log
[fetch]
	prune = true
	prunetags = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[gpg]
	program = gpg2
[help]
	autocorrect = prompt
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only --features=interactive
[merge]
	conflictStyle = zdiff3
[pull]
	rebase = true
[push]
	default = current
	followTags = true
[rebase]
	autosquash = true
	autostash = true
[rerere]
	enabled = true
[status]
	showUntrackedFiles = all
	submoduleSummary = true
[submodule]
	recurse = true
[user]
	email = matthew@matthewminer.com
	name = Matthew Miner
