[color]
	ui = true
[color "diff"]
	commit = yellow bold
	frag = magenta bold
	meta = yellow
	new = green bold
	old = red bold
	whitespace = red reverse
[color "diff-highlight"]
	newHighlight = green bold 22
	newNormal = green bold
	oldHighlight = red bold 52
	oldNormal = red bold
[core]
	excludesfiles = /Users/mminer/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[pull]
	rebase = true
[push]
	default = simple
	followTags = true
[rebase]
	autosquash = true
	autostash = true
[status]
	showUntrackedFiles = all
[user]
	email = matthew@matthewminer.com
	name = Matthew Miner
	signingkey = C7A66316AB5853D9
[commit]
	gpgsign = true
