[core]
	excludesfiles = /Users/mminer/.gitignore
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	required = true
	smudge = git-lfs smudge -- %f
[push]
	followTags = true
[rebase]
	autosquash = true
	autostash = true
[status]
	showUntrackedFiles = all
[user]
	email = matthew@matthewminer.com
	name = Matthew Miner
